.main-wrapper {
  max-width: 1400px;
  height: 78px;
  background-color: #FFFFFF;
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo {
  display: inline-block;
  margin-right: 320px;
}

.logo-img {
  padding-left: 180px;

}

.routing {
  display: inline-block;
}

.link {
  margin-left: 25px;
  font-size: 12px;
  height: 28px;
  font-family: 'Poppins';
}

.buttons {
  display: inline-block;

}

.sign-in {
  width: 102px;
  height: 46px;
  margin-right: 13px;
  border-radius: 4px;
  font-weight: bold;
  border-color: #BCD0E5;
  border-style: double;
  border-width: thin;
}

.sign-up {
  height: 46px;
  width: 108px;
  border-radius: 4px;
  background-color: orange;
  color: white;
  font-weight: bold;
  border-style: none;
}

.main {

  display: inline-block;

}

.design_text {
  
    margin-bottom: 5px;
    margin-right: 3px;
    display: inline-block;
}

.design_text_header {
  font-size: 40px;
  line-height: 28px;
  margin-right: 63px;
  padding-top: 60px;
  display: inline-block;
  flex-direction: column;
  
}

.describtion {
  flex-direction: column;
  font-family: 'Poppins';
font-style: normal;
  font-size: 18px;
  line-height: 28px;
  display: inline-block;
  padding-right: 700px;


}

.buttons_link {

  margin-top: 45px;
  width: 361px;
  height: 53px;
  display: inline-block;
}

.get-started {
  background-color: orange;
  color: white;
  width: 175px;
  height: 53px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  border-style: none;
}

.link-video-watch {
  color: orange;
  font-size: 14px;
  font-weight: bold;
}

.design_tools {
  width: 1125px;

}

.design_tools_text {
  
  width: 539px;
  height: 108px;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 54px;
  margin-left: 453px;
  margin-right: 453px;
  
}

.icons {
  position: relative;

  .purple-icon {
    margin-left: 110px;
  }

  .yellow-icon {

    margin-left: 150px;
  }

  .red-icon {
    margin-left: 190px;

  }

  .blue-icon {
    margin-left: 190px;
  }
}

.icons-text {
  position: relative;

  .icons-text-first {
    display: inline-block;
    margin-left: 70px;
    flex-direction: column-reverse;
    }

  .cons-text-design {
    display: inline-block;
    margin-left: 200px;
    flex-direction: column-reverse;
  }

  .icons-text-preference {
    display: inline-block;
    margin-left: 110px;
    flex-direction: column-reverse;
  }

  .icons-text-five {
    display: inline-block;
    margin-left: 110px;
    flex-direction: column-reverse;}
}

.icons-paragraph {

  &__icons-paragraph-first {}

  &__icons-paragraph-second {}

  &__icons-paragraph-third {}

  &__icons-paragraph-forth {}
}